
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_HotelStay</title>
</head>
<body>
    <div> 
        This is my Imperial Hotel Layout
     @Html.Sitecore().Placeholder("hotelStay")
    </div>
</body>
</html>
